/* painel de avisos */
.aviso {
	display: none;
}

/* barra de botoes de controle */
.btn-control-bar {
	margin-top: -20px;
	margin-left: -15px;
}

.btn-control-bar button {
	margin-top: 5px;
}

.btn-control-bar a {
	text-decoration: none;
}

/* button block mobile */
@media all and (max-width: 480px) {
	.mob-btn-block {
		width: 103.5%;
		display: block;
	}
}

@media all and (max-width: 360px) {
	.mob-btn-block {
		width: 105%;
		display: block;
	}	
}

/* tabela de registros */
.tabela-registro tbody tr {
	cursor: pointer;
}
