body {
	margin-top: 70px;
}

img {
	width: 100%;
}

/* campo de texto sempre maiusculo */
input[type=text] {
	text-transform: uppercase;
}

/* painel de avisos */
.aviso {
	display: none;
}

/* barra de botoes de controle */
.btn-control-bar {
	margin-top: -20px;
	margin-left: -15px;
}

.btn-control-bar button {
	margin-top: 5px;
}

.btn-control-bar a {
	text-decoration: none;
}

/* button block mobile */
@media all and (max-width: 480px) {
	.mob-btn-block {
		height: 45px;
	}
	
	.btn-control-bar .mob-btn-block {
		width: 103.5%;
	}
}

@media all and (max-width: 360px) {
	.mob-btn-block {
		height: 45px;
	}	
	
	.btn-control-bar .mob-btn-block {
		width: 105%;
	}
}

/* tabela de registros */
.tabela-registro tbody tr {
	cursor: pointer;
}

/*fixa textarea*/
textarea {
    resize: none;
}